.tabsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.tab {
  width: 250px;
  height: 250px;
}

.tab h3 {
  text-transform: lowercase;
  font-size: 32px;
  color: var(--color-drk-purple);
  margin: 0 0 15px;
}

.tab h3::after {
  content: "."
}

.selected {
  border: 3px solid rgba(89, 114, 182, 0.2);
  background: var(--color-bg-blue);
}