.closing {
  padding: 0 16.8%;
}

.closing h2 {
  text-transform: uppercase;
  color: var(--color-blue);
  font-size: 45px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: var(--color-bg-grey);
  /* margin: 0 10% 0; */
  padding: 40px 85px;
  min-height: 650px;
}

.content p{
  font-size: 28px;
}

.content p:last-of-type {
  margin-bottom: 35px;
}