.sect {
  padding: 98px 120px;
}

.container {
  display: flex;
  flex-flow: row wrap;
  max-width: 100%;
}

.container div {
  box-sizing: border-box;
  width: calc(50% - 19px);
  margin-bottom: 29px;
}

.container div:nth-child(odd) {
  margin-right: 38px;
}

.container div:nth-last-child(-n+2) {
  margin-bottom: 0;
}