.sect1 {
  background-color: var(--color-bg-grey);
  padding: 64px 202px 52px;
  font-size: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sect1text {
  margin-bottom: 62px;
}

.purpleUndln {
  text-decoration: underline var(--color-lgt-purple);
}

.blueUndln {
  text-decoration: underline var(--color-blue);
}

.pinkUndln {
  text-decoration: underline var(--color-pink);
}

.greenUndln {
  text-decoration: underline var(--color-green);
}