html {
  --color-blue: rgb(33, 133, 197);
  --op-color-blue: rgba(33, 133, 197, .9);
  --color-pink: rgb(245, 159, 162);
  --op-color-pink: rgba(245, 159, 162, .9);
  --color-green: rgb(140, 188, 163);
  --op-color-green: rgba(140, 188, 163, .9);
  --color-drk-purple: rgb(88, 87, 153);
  --op-color-drk-purple: rgba(88, 87, 153, .9);
  --color-lgt-purple: rgb(89, 114, 183);
  --op-color-lgt-purple: rgba(89, 114, 183, .9);
  --color-bg-grey: rgba(34, 132, 197, 0.075);
}

body {
  margin: 0;
  font-family: 'Jost', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  font-family: 'Jost', sans-serif;
  color: #2E3F6B;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
